.background {
    background-color: #DFA8FF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

/* 폰트 */
.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}


.title > h1 {
    margin: 0;
    font-size: 170px;
    color: #7D23B1;
}

.subtitle > p {
    margin: 0;
    font-size: large;
    color: #440e63;
}

.subtitle > button {
    font-size: medium;
    color: white;
    background-color: #8029B2;
    border-width: 0;
    border-radius: 30px;
    padding: 15px 45px 15px 45px;
    margin-top: 20px;
    width: 180px;
    cursor: pointer;
}

.subtitle {
    margin-left: 20px;
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 1002;
    margin-left: 12%;
}

.right_side {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1001;
}

.right_side img {
    width: 70vw; 
    pointer-events: none;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 12%;
}

/* Info 버튼, 우하단 정보글 */
.info_button {
    height: 30px;
    border-width: 0;
    background-color: transparent;   
    color: #7F22B5;
    font-size: 17px;
    font-weight: bolder;
    position: absolute;
    right: 1%;
    top: 1%;
}

.info_p {
    position: absolute;
    right: 1%;
    bottom: -1%;
    font-weight: 100;
    color: #5d5d5ddc;
    font-style: italic;
}