.mypage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left_sidebar {
    width: 250px;
    height: 100vh;
    background-color: #5D1089;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_sidebar img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.profile {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    gap: 20px;
    width: 85%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #cccccc4d;
    margin: 10px 0 10px 0;
}

.button_panel {
    width: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
}

.button_panel button {
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    align-items: center;
}

.button_panel button.hover {
    font-weight: bold;
}

.button_panel button.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}

.button_group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button_group.bottom {
    gap: 10px;
}


.main_content {
    flex: 1;
    overflow-y: auto;
}