.portfolio_list {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.portfolio_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.folder {
    border-width: 0;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 130px;
    cursor: pointer;
    padding-top: 5px;
    margin: 5px 10px 0 10px;
}

.portfolio_title {
    font-size: 12px;
    text-align: center;
    color: #333333;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create_button {
    width: 120px;
    height: 80px;
    border: 2px dashed #BA9E59;
    border-radius: 10px;
    background-color: #f7d37771;
    cursor: pointer;
    margin: 0 10px 5px 10px;
}

.portfolio_context_menu {
    position: absolute;
    z-index: 999;
    background-color: #563E65;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 10px 0 10px 0;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_context_menu button {
    width: 90%;
    padding: 8px 12px;
    background: transparent;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

.portfolio_context_menu button:hover {
    background-color: #8534b4;
}