.portfolio_list {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.portfolio_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.folder {
    border-width: 0;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 130px;
    cursor: pointer;
    padding-top: 5px;
    margin: 5px 10px 0 10px;
}

.portfolio_title {
    font-size: 12px;
    text-align: center;
    color: #333333;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create_button {
    width: 120px;
    height: 80px;
    border: 2px dashed #BA9E59;
    border-radius: 10px;
    background-color: #f7d37771;
    cursor: pointer;
    margin: 0 10px 5px 10px;
}