.trash_list {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.trash_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.trash_folder {
    border-width: 0;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 130px;
    cursor: pointer;
    padding-top: 5px;
    margin: 5px 10px 0 10px;
    opacity: 0.7; /* 휴지통 느낌 살짝 흐리게 */
}

.trash_folder img {
    filter: grayscale(0.5);
}

.trash_title {
    font-size: 12px;
    text-align: center;
    color: #555555;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trash_context_menu {
    position: absolute;
    z-index: 999;
    background-color: #3f3148;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trash_context_menu button {
    width: 90%;
    padding: 8px 12px;
    background: transparent;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

.trash_context_menu button:hover {
    background-color: #6c2f94;
}