.portfolio {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: #731BA5;
    height: 40px;
    align-items: center;
    gap: 20px;
    padding: 0 10px 0 10px;
}

.contents {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.main_portfolio {
    flex: 1;
}