.workspace {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.paper {
    aspect-ratio: 297 / 210;
    width: 90%;
    max-width: 100%;
    max-height: 90%;
    height: auto;
    background: rgb(255, 255, 255);
    margin-bottom: 40px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.15),
        0 12px 24px rgba(0, 0, 0, 0.2);
}